*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
GenderAndAgeDemoAPK/app/release/
GenderAndAgeDemoAPK/.idea/
GenderAndAgeDemoAPK/build/
GenderAndAgeDemoAPK/local.properties
AttDEMO/.idea/
AttDEMO/build/
AttDEMO/local.properties
ShopDEMO/.idea/
ShopDEMO/build/
ShopDEMO/gradle/
ShopDEMO/gradle.properties
ShopDEMO/gradlew
ShopDEMO/gradlew.bat
ShopDEMO/local.properties
ShopDEMO/app/release/
ShopDEMO/app/build/